absl-py==1.0.0
astor==0.8.1
certifi==2022.5.18.1
cffi==1.15.1
cmake>=3.21.3
dlib==19.24.0
face-recognition==1.3.0
face-recognition-models==0.3.0
ffmpy==0.3.0
gast==0.5.3
grpcio==1.46.3
h5py
Keras==2.7.0
Markdown==3.3.7
mkl-fft
mkl-random
munch==2.5.0
numpy
nvidia-ml-py3==7.352.0
olefile==0.46
opencv-python-headless==4.6.0.66
pathlib==1.0.1
Pillow==9.1.1
pretrainedmodels==0.7.4
protobuf==3.20.1
pycparser==2.21
scandir
six==1.16.0
termcolor==1.1.0
torch==1.11.0
torchvision==0.12.0
tqdm==4.64.0
torchsummary
flask